[submodule "nvim/pack/tpope/start/vim-fugitive"]
	path = nvim/pack/tpope/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "nvim/pack/tpope/start/vim-surround"]
	path = nvim/pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "nvim/pack/tpope/start/vim-commentary"]
	path = nvim/pack/tpope/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "nvim/pack/tpope/start/vim-rhubarb"]
	path = nvim/pack/tpope/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
[submodule "nvim/pack/tpope/start/vim-unimpaired"]
	path = nvim/pack/tpope/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "nvim/pack/tpope/start/vim-dispatch"]
	path = nvim/pack/tpope/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "nvim/pack/tpope/start/vim-repeat"]
	path = nvim/pack/tpope/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "nvim/pack/jiangmiao/start/auto-pairs"]
	path = nvim/pack/jiangmiao/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "nvim/pack/lewis6991/start/gitsigns.nvim"]
	path = nvim/pack/lewis6991/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule "nvim/pack/lukas-reineke/start/indent-blankline.nvim"]
	path = nvim/pack/lukas-reineke/start/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim.git
	ignore = untracked
[submodule "nvim/pack/neovim/start/nvim-lspconfig"]
	path = nvim/pack/neovim/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "nvim/pack/tartansandal/start/vim-compiler-pytest"]
	path = nvim/pack/tartansandal/start/vim-compiler-pytest
	url = https://github.com/tartansandal/vim-compiler-pytest.git
[submodule "nvim/pack/radenling/start/vim-dispatch-neovim"]
	path = nvim/pack/radenling/start/vim-dispatch-neovim
	url = https://github.com/radenling/vim-dispatch-neovim.git
[submodule "nvim/pack/nvim-treesitter/start/nvim-treesitter"]
	path = nvim/pack/nvim-treesitter/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "nvim/pack/cocopon/start/iceberg.vim"]
	path = nvim/pack/cocopon/start/iceberg.vim
	url = https://github.com/cocopon/iceberg.vim.git
[submodule "nvim/pack/romainl/start/vim-qf"]
	path = nvim/pack/romainl/start/vim-qf
	url = https://github.com/romainl/vim-qf.git
[submodule "nvim/pack/bluz71/start/vim-moonfly-colors"]
	path = nvim/pack/bluz71/start/vim-moonfly-colors
	url = https://github.com/bluz71/vim-moonfly-colors.git
[submodule "nvim/pack/rhysd/start/clever-f.vim"]
	path = nvim/pack/rhysd/start/clever-f.vim
	url = https://github.com/rhysd/clever-f.vim.git
[submodule "nvim/pack/ggandor/start/leap.nvim"]
	path = nvim/pack/ggandor/start/leap.nvim
	url = https://github.com/ggandor/leap.nvim.git
[submodule "nvim/pack/mhinz/start/vim-sayonara"]
	path = nvim/pack/mhinz/start/vim-sayonara
	url = https://github.com/mhinz/vim-sayonara.git
	ignore = untracked
[submodule "nvim/pack/tpope/start/vim-fireplace"]
	path = nvim/pack/tpope/start/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "nvim/pack/tpope/start/vim-vinegar"]
	path = nvim/pack/tpope/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
