[submodule "nvim/pack/github/start/copilot.vim"]
	path = nvim/pack/github/start/copilot.vim
	url = https://github.com/github/copilot.vim
[submodule "nvim/pack/neovim/start/nvim-lspconfig"]
	path = nvim/pack/neovim/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim/pack/nvim-treesitter/start/nvim-treesitter"]
	path = nvim/pack/nvim-treesitter/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim/pack/radenling/start/vim-dispatch-neovim"]
	path = nvim/pack/radenling/start/vim-dispatch-neovim
	url = https://github.com/radenling/vim-dispatch-neovim
[submodule "nvim/pack/romainl/start/vim-qf"]
	path = nvim/pack/romainl/start/vim-qf
	url = https://github.com/romainl/vim-qf
[submodule "nvim/pack/gosukiwi/start/vim-smartpairs"]
	path = nvim/pack/gosukiwi/start/vim-smartpairs
	url = https://github.com/gosukiwi/vim-smartpairs
[submodule "nvim/pack/tartansandal/start/vim-compiler-pytest"]
	path = nvim/pack/tartansandal/start/vim-compiler-pytest
	url = https://github.com/tartansandal/vim-compiler-pytest
[submodule "nvim/pack/tpope/start/vim-abolish"]
	path = nvim/pack/tpope/start/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "nvim/pack/tpope/start/vim-eunuch"]
	path = nvim/pack/tpope/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "nvim/pack/tpope/start/vim-commentary"]
	path = nvim/pack/tpope/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "nvim/pack/tpope/start/vim-dispatch"]
	path = nvim/pack/tpope/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "nvim/pack/tpope/start/vim-endwise"]
	path = nvim/pack/tpope/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "nvim/pack/tpope/start/vim-fireplace"]
	path = nvim/pack/tpope/start/vim-fireplace
	url = https://github.com/tpope/vim-fireplace
[submodule "nvim/pack/tpope/start/vim-fugitive"]
	path = nvim/pack/tpope/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "nvim/pack/tpope/start/vim-repeat"]
	path = nvim/pack/tpope/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "nvim/pack/tpope/start/vim-rhubarb"]
	path = nvim/pack/tpope/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "nvim/pack/tpope/start/vim-rsi"]
	path = nvim/pack/tpope/start/vim-rsi
	url = https://github.com/tpope/vim-rsi
[submodule "nvim/pack/tpope/start/vim-sensible"]
	path = nvim/pack/tpope/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "nvim/pack/tpope/start/vim-surround"]
	path = nvim/pack/tpope/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "nvim/pack/tpope/start/vim-unimpaired"]
	path = nvim/pack/tpope/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "nvim/pack/tpope/start/vim-vinegar"]
	path = nvim/pack/tpope/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "nvim/pack/tpope/start/vim-vividchalk"]
	path = nvim/pack/tpope/start/vim-vividchalk
	url = https://github.com/tpope/vim-vividchalk
